<div class="sidemenu-wrapper d-none d-lg-block ">
    
</div>
<div class="popup-search-box d-none d-lg-block">
    <button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#">
        <input type="text" placeholder="What are you looking for?">
        <button type="submit"><i class="fal fa-search"></i></button>
    </form>
</div>
<!--==============================
Mobile Menu
============================== -->
<div class="themeholy-menu-wrapper">
    <div class="themeholy-menu-area text-center">
        <button class="themeholy-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="home-plumbing-service.html"><img src="/huddle_test/assets/img/huddle_white.svg" class="w-36 h-36" alt="Plumer"></a>
        </div>
        <div class="themeholy-mobile-menu">
            <ul>
                <li>
                    <a href="home.html">HOME</a>
                </li>
                <li><a href="about.html">SPEAKERS</a></li>
                <li>
                    <a href="home.html">PREVIOUS EDITION</a>
                </li>
                <li>
                    <a href="home.html">SPONSORSHIP OPPORTUNITIES
                    </a>
                </li>
                <!-- <li>
                    <a href="home.html">HOME</a>
                </li>
                <li>
                    <a href="home.html">HOME</a>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<!--==============================
Header Area
==============================-->
<header class="themeholy-header header-layout5">
    <div class="position-relative">
        <div class="container">

            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <div class="header-logo">
                        <a href="/"><img src="/huddle_test/assets/img/huddle_white.svg" class="w-36 h-36" alt="Plumer"></a>
                    </div>
                </div>
                <div class="col-auto">
                    <nav class="main-menu d-none d-lg-inline-block">
                        <ul>
                            <li>
                                <a href="home.html">HOME</a>
                            </li>
                            <li><a href="about.html">SPEAKERS</a></li>
                            <li>
                                <a href="home.html">
                                    PREVIOUS EDITION</a>
                            </li>
                            <li>
                                <a href="home.html">SPONSORSHIP OPPORTUNITIES
                                </a>
                            </li>
                            <!-- <li>
                                <a href="home.html">HOME</a>
                            </li>
                            <li>
                                <a href="home.html">HOME</a>
                            </li> -->
                        </ul>
                    </nav>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <div class="header-button text-[#C70000] ">
                        <a href="https://www.facebook.com/"><i class="hover:text-white fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com/"><i class="hover:text-white fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/"><i class="hover:text-white fab fa-linkedin-in"></i></a>
                        <a href="https://www.instagram.com/"><i class="hover:text-white fab fa-instagram"></i></a>                                    
                        <!-- <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a> -->
                        <a onclick="popup('huddle-global-2023-343210');" class="themeholy-btn style3 cursor-pointer">GET YOUR TICKETS</a>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="menu-top">
                        <div class="row gx-0 justify-content-between align-items-center">
                            <div class="col-auto d-lg-none d-block ms-auto">
                                <button type="button" class="themeholy-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper hidden" id="navbartest">
        
        <div class="container">
            <div class="menu-area">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li>
                                    <a href="home.html">HOME</a>
                                </li>
                                <li><a href="about.html">SPEAKERS</a></li>
                                <li>
                                    <a href="home.html">
                                        PREVIOUS EDITION</a>
                                </li>
                                <li>
                                    <a href="home.html">SPONSORSHIP OPPORTUNITIES
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="home.html">HOME</a>
                                </li>
                                <li>
                                    <a href="home.html">HOME</a>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-button text-[#C70000] ">
                            <a href="https://www.facebook.com/"><i class="hover:text-white fab fa-facebook-f"></i></a>
                            <a href="https://www.twitter.com/"><i class="hover:text-white fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/"><i class="hover:text-white fab fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/"><i class="hover:text-white fab fa-instagram"></i></a>                                    
                            <a onclick="popup('huddle-global-2023-343210');" class="themeholy-btn style3 cursor-pointer">GET YOUR TICKETS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>